<form method="post" action="/quizes/<%=quiz.id%>?_method=put">
    <%if (errors.length){%>
      <span id='ErrorMsgs'>Corregir errores: <br/>
      <% for (var i in errors){%>
        <span> <%= errors[i].message %></span><br/>
      <%}%>
      </span>
    <%}%>
    <% include form_pregunta.ejs %>
</form>