<form method="get" action="/quizes">
    <label for="search">
        Filtrar preguntas por:
        <input id="search" name="search" type="text" placeholder="Texto a buscar" />
        <input type="submit" value="Filtrar" />
    </label>
</form>
<table>
    <% var i; for (i=0; i<quizes.length; i++) { %>
    <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
    <% } %>
</table>