<form method="post" action="/quizes">
    <% include form_pregunta.ejs %>
</form>

<%if (errors.length){%>
    <div class="errores">
        <span id="ErrorMsgs">Corregir errores:</span>
        <ul>
            <% for (var i in errors){%>
            <li><%= errors[i].message %></></li>
            <%}%>
        </ul>
    </div>
<%}%>
