<form method="get" action="/quizes/answer">
	<legend>Pregunta: <%= pregunta %></legend>
	<label for="question">Respuesta:
		<input id="question" name="respuesta" type="text" placeholder="Responda aquí" />
		<input type="submit" value="Enviar" />
	</label>
</form>