<div class="jumbotron">
    <div class="row center">
        <img src="/images/bebe-cabreao.png" alt="Foto autor" style="width:180px;height:180px;" />
    </div>
    <div class="row center">
        <strong>Aplicación desarrollada por:</strong><em> <%= author %> </em>
    </div>
</div>
