<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
	<!-- 
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/wide.css" media="only screen and (min-device-width: 481px) and (min-width: 530px)" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/smartphone.css" media="only screen and (max-device-width: 480px)" type="text/css" />
	-->

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="/javascripts/sha1.js"></script>
    <script type="text/javascript" src="/javascripts/jsapi.js"></script>

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/prettyPhoto.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/responsive.css' />

    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.prettyPhoto.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/html5shiv.js"></script>
    <script type="text/javascript" src="/javascripts/respond.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/Quiz.js"></script>



    <title>Preguntas</title>
</head>
<body class="homepage">
        <header id="header">

			<nav class="navbar  navbar-inverse" role="banner">
				<div class="container">
					<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
					<a class="navbar-brand" href="/"><i class="fa fa-question"></i> Quiz</a></a> </div>
					<div class="collapse navbar-collapse navbar-right">
					<ul class="nav navbar-nav">
						<li><a href="/">Inicio</a></li>
						<li><a href="/quizes">Preguntas</a></li>
						<li><a href="/quizes/estadisticas">Estadísticas</a></li>
						<li><a href="/author">Créditos</a></li>
						<%if (!session.user){%>
						 <li><a href="/usuarios/new">Registrarse</a></li>
						 <li><a href="/login">Login</a></li>
						<%}else{%>
						<li><a href="/logout">Logout</a></li>
						<%}%>
					</ul>
			  </div>
			</div>
		</nav>
            <%if (session.user){%>
            <p class="pull-right"><i class="fa fa-user"></i> Usuario: <%=session.user.nombre %><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
            <%}%>
        </header>

        <section id="feature">
			<div class="container ">
	            <%- body %>
			</div>
        </section>

        <footer id="footer">
		  <div class="container">
			<div class="row center">
			  <div class="col-sm-6"><a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es un Quiz?</a></div>
			  <div class="col-sm-6"><a href="https://github.com/taferk/Quiz">Proyecto en GitHub</a></div>
			  </div>
			</div>
		  </div>
       </footer>
</body>
</html>