<div class="row">
    <h2>Nuevo usuario</h2>

    <%if (errors.length){%>
    <div class="panel-info">
        <div class="panel-heading">
            <span class="panel-title">No se pudo dar de alta el usuario por los siguientes motivos:</span>
        </div>
        <div class="panel-body">
            <ul>
                <% for (var i in errors){%>
                <li class="label label-warning"><%= errors[i].message %></></li>
                <%}%>
            </ul>
        </div>
    </div>
    <%}%>


    <form class="form" method='POST' action='/usuarios' onsubmit="getElementById('password').value = CryptoJS.SHA1(getElementById('clave').value)">

        <div class="form-group">
            <label for="nombre">Nombre de usuario:</label><br />
            <input type="text" id="nombre" class="form-control" name="usuario[nombre]" required placeholder="Nombre" size="50" />
        </div>

        <div class="form-group">
            <label for="clave">Clave:</label><br />
            <input type="text" id="clave" class="form-control" placeholder="Clave" required size="50" />
            <input type="hidden" id="password" name="usuario[clave]" />
        </div>

        <div class="form-group">
            <button class="btn-primary btn" name="commit" type="submit">Guardar</button>
            <a class="btn-default btn" href="/quizes">Cancelar</a>
        </div>

    </form>

</div>