<h2>Login</h2>

    <%if (errors.length){%>
<span id='ErrorMsgs'>
    No se pudo iniciar la sesión por los siguientes motivos: <br />
    <% for (var i in errors){%>
    <span> <%= errors[i].message %></span><br />
    <%}%>
</span>
    <%}%>

<form method='POST' action='/login'>

    <div class="field">
        <label for="login">Login:</label><br />
        <input type="text" id="login" name="login" size="30" />
    </div>

    <div class="field">
        <label for="password">Password:</label><br />
        <input type="password" id="password" name="password" size="30" />
    </div>

    <div class="actions">
        <input name="commit" type="submit" value="Login" />
    </div>

</form>