<h2>Login</h2>

<form method='POST' action='/login' onsubmit="getElementById('password').value = CryptoJS.SHA1(getElementById('clave').value)" >

    <div class="field">
        <label for="login">Usuario:</label><br />
        <input type="text" id="login" required name="login" size="50" />
    </div>

    <div class="field">
        <label for="password">Clave:</label><br />
        <input type="password" id="clave" required name="clave" size="50" />
        <input type="hidden" id="password" name="password" />
    </div>



    <div class="actions">
        <button name="commit" type="submit">Enviar</button>
        <a href="/quizes">Cancelar</a>
    </div>

</form>

<%if (errors.length){%>
    <div class="errores">
        <span id="ErrorMsgs">No se pudo iniciar la sesión por los siguientes motivos:</span>
        <ul>
            <% for (var i in errors){%>
            <li><%= errors[i].message %></></li>
            <%}%>
        </ul>
    </div>
<%}%>
